.tc-slider-image{
    width: 100%;
    height: 100%;
}
.tc-card-container{
    margin: 5px;
    box-shadow: 2px 2px 2px rgb(201, 196, 196);
    border-radius: 5px;
}
.top-categories-container{
    margin: 10px;
}
.top-categories-heading{
    font-size: 23px;
    margin: 10px;
}


.category {
    position: relative;
    padding: 0 15px;
    margin-bottom: 30px;
}

.category .col-md-3 {
    padding: 0;
}

.category .category-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    background: #ffffff;
}

.category .category-item.ch-400 {
    height: 400px;
}

.category .category-item.ch-250 {
    height: 250px;
}

.category .category-item.ch-150 {
    height: 150px;
}

.category .category-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.category .category-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(74, 172, 194, 0.7);
    transition: all 0.3s;
    opacity: 0;
}

.category .category-name:hover {
    opacity: 1;     
}

.category .category-name p {
    margin: 0 0 50px 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s;
}

.category .category-name:hover p {
    margin: 0;       
}

.category{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.category-row{
    width: 25%;
}

.tc-prev-icon{
    width:30px ;
    height:80px ;
    background-color: white;
    color:#4AADC2;
    position:absolute; 
    top: 30%;
    left:-10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
    z-index: 1;
}
.tc-next-icon{
    width:30px ;
    height:80px ;
    background-color: white;
    color:#4AADC2;
    position:absolute; 
    left:98.5%;
    top: 30%;
    box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
    z-index: 1;

}
@media only screen and (max-width: 600px) {
    .category .category-item.ch-400 {
        height: 240px;
    }
    .category .category-item.ch-250 {
        height: 150px;
    }
    .category .category-item.ch-150 {
        height: 90px;
    }
    .tc-prev-icon{
        display: none;

    }
    .tc-next-icon{
        display: none;
    }
    .top-categories-heading{
        font-size: 15px;
    }
    .category .category-name p {
        
        font-size: 8px;
      
    }
    
 }
 .tc-card-container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     background-color: white;
 }
.tc-card-container span{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #4AADC2;
}
 .top-category-icons{
     font-size: 50px;
     margin-bottom: 30px;
     color: #4AADC2;
 }